.login {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.login-left img {
  width: 100%;
  height: 100%;
}
.login-right h3 {
  padding-top: 150px;
  font-weight: 600;
  font-size: 25px;
  text-align: center;
  padding-bottom: 20px;
  color: #696969;
  padding-bottom: 50px;
}

.login-form {
  padding: 0 30px;
}
.login-form_input {
  border-radius: 4px;
  height: 40px;
}
.login-form-button {
  width: 100%;
  height: 40px;
  border-radius: 10px;
  font-size: 20px;
  background-color: rgba(16, 6, 105, 0.726);
  border: none;
}
