@import 'antd/dist/antd.css';

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}
.site-layout-background {
  background: #fff;
}
.ant-card-actions {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.ant-upload-list-item-info {
  display: none;
}

.cu {
  cursor: pointer;
}

.fr {
  float: right;
}
.fl {
  float: left;
}
/* CONTAINER */
.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 15px;
}
.container-800 {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 15px;
}
/* TEXT */
.text-center {
  text-align: center;
}

.up-text {
  text-transform: uppercase;
}
/* font size */
.fs-8 {
  font-size: 8px;
}

.fs-16 {
  font-size: 16px;
}

.fs-12 {
  font-size: 12px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}
.fs-28 {
  font-size: 28px;
}
.fs-32 {
  font-size: 32px;
}

/* margin top */
.mt-0 {
  margin-top: 0px;
}
.mt-4 {
  margin-top: 4px;
}
.mt-8 {
  margin-top: 8px;
}

.mt-16 {
  margin-top: 16px;
}

.mt-12 {
  margin-top: 12px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-24 {
  margin-top: 24px;
}
.mt-28 {
  margin-top: 28px;
}
.mt-32 {
  margin-top: 32px;
}

/* margin bottom */
.mb-0 {
  margin-bottom: 0px;
}
.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-24 {
  margin-bottom: 24px;
}
.mb-28 {
  margin-bottom: 28px;
}
.mb-32 {
  margin-bottom: 32px;
}

.mb-50 {
  margin-bottom: 50px;
}
.mb-100 {
  margin-bottom: 100px;
}
/* margin left */
.ml-0 {
  margin-left: 0px;
}
.ml-8 {
  margin-left: 8px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-12 {
  margin-left: 12px;
}

.ml-20 {
  margin-left: 20px;
}

.ml-24 {
  margin-left: 24px;
}
.ml-28 {
  margin-left: 28px;
}
.ml-32 {
  margin-left: 32px;
}

.mr-0 {
  margin-right: 0px;
}
.mr-8 {
  margin-right: 8px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-12 {
  margin-right: 12px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}
.mr-28 {
  margin-right: 28px;
}
.mr-32 {
  margin-right: 32px;
}

/* padding */
/* margin left */
.pl-0 {
  padding-left: 0px;
}
.pl-8 {
  padding-left: 8px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-12 {
  padding-left: 12px;
}

.pl-20 {
  padding-left: 20px;
}

.pl-24 {
  padding-left: 24px;
}
.pl-28 {
  padding-right: 28px;
}
.pl-32 {
  padding-right: 32px;
}

.pr-0 {
  padding-right: 0px;
}
.pr-8 {
  padding-right: 8px;
}

.pr-16 {
  padding-right: 16px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-24 {
  padding-right: 24px;
}
.pr-28 {
  padding-right: 28px;
}
.pr-32 {
  padding-right: 32px;
}
/* border */
.border {
  border: none;
}

.border-bottom-1 {
  border-bottom: 1px solid #ddd;
}
.border-top-1 {
  border-top: 1px solid #ddd;
}
/* font-weight */

.fw-100 {
  font-weight: 100;
}
.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.fw-bold {
  font-weight: bold;
}
