.public-header img {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.public-content {
  width: 85%;
  height: 292px;
  border-radius: 5px;
  position: relative;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #375a79;
  margin-bottom: 30px;
  cursor: pointer;
  overflow: hidden;
  background-color: #fafafa;
}

.public-title {
  position: absolute;
  top: 5%;
  left: 6%;
  color: black;
  font-size: 18px;
  font-weight: 600;
}

.public-title h3 {
  font-weight: 600;
}
.public-title h3:hover {
  color: rgb(0, 174, 239);
}
.public-des {
  position: absolute;
  width: 90%;
  text-overflow: ellipsis;
  overflow: hidden;
  top: 24%;
  left: 5%;
  color: black;
  font-weight: 200;
  font-size: 13px;
}
.public-des ul li {
  list-style-type: none;
}
.public-address {
  position: absolute;
  top: 85%;
  left: 5%;
  color: black;
  font-weight: 200;
}
.public-type {
  position: absolute;
  top: 84%;
  right: 10%;
}

.public-title-job h1 {
  font-size: 25px;
  color: #7b40a0;
  font-weight: 700;
}
.public-role {
  background-color: #f8f9fa;
  border-radius: 25px;
  color: #183247;
  font-size: 13px;
  line-height: 18.5714px;
  margin: 0px 30px 0px 0px;
  padding: 17px 18px;
  text-align: left;
}

.public-title-job {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.public-filter {
  display: flex;
  justify-content: space-around;
  padding-bottom: 30px;
  width: 60%;
  margin: 0 auto;
}
.public-sub {
  background-color: #f8f9fa;
  margin-bottom: 70px;
}
.public-sub h1 {
  padding-left: 190px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 700;
}
.public-icon {
  text-align: end;
  padding-top: 55px;
  padding-right: 40px;
}
.btn-public {
  background: linear-gradient(rgb(0, 174, 239) 0%, rgb(51, 199, 255) 100%);
  border-radius: 5.69231px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.42px;
  line-height: 21px;
  padding: 6px 10px;
  cursor: pointer;
  font-family: 'ibm plex sans', sans-serif;
}
.btn-public:hover {
  background: linear-gradient(rgb(51, 199, 255) 100%, rgb(0, 174, 239) 0%);
}
