.profile {
  background-color: rgba(255, 228, 196, 0.219);
  border-radius: 8px;
  padding-bottom: 16px;
}
.profile-avatar {
  background-color: rgba(90, 31, 31, 0.664);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.profile-avatar-img {
  position: relative;
  left: 28px;
  top: 32px;
  z-index: 10000000;
}
.profile-inf-title-detail {
  color: rgb(170, 163, 163);
  margin-bottom: 0;
}
.profile-inf-content-detail {
  font-weight: 600;
}
.profile-left-name {
  margin-top: 40px;
  margin-bottom: 0;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
}
.profile-left-role {
  color: rgba(165, 42, 42, 0.637);
}
