.employee_tool {
  border-bottom: 1px solid rgb(160, 147, 147);
  padding-bottom: 12px;
}
/* .employee_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 12px;
} */
