.card-jd {
  border-top: 4px solid #3ec5d1;
  width: 220px;
  height: 350px;
  background-color: white;
  text-align: center;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  cursor: pointer;
  margin-bottom: 30px;
  margin-top: 40px;
}
.card-jd:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4), 0 12px 40px 0 rgba(0, 0, 0, 0.3);
}

.cart-header h5 {
  padding-top: 14px;
  padding-bottom: 1px;
  color: #607787;
  font-size: 14px;
}
.cart-header h4 {
  font-size: 18px;
  padding-top: 5px;
  color: #12344d;
  font-weight: 600;
  line-height: 22.88px;
}
.cart-local {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 10.5px;
}
.local h3 {
  padding-left: 2px;
}
.cart-content {
  text-align: center;
}
.cart-icon {
  padding-top: 7px;
  padding-right: 5px;
}
.cart-content {
  padding-top: 20px;
}
.cart-footer {
  width: 100%;
  height: 30px;
  background-color: rgba(186, 200, 204, 0.8);
  display: flex;
}
.cart-global {
  padding-left: 30px;
  padding-top: 8px;
}
.cart-footer button {
  margin-top: 4.5px;
  margin-left: 30px;
  height: 20px;
  background-color: #ffffff;
  border: 1px #acb3bb solid;
  color: #12344d;
  font-size: 12px;
  line-height: 17.5px;
  cursor: pointer;
}
.cart-footer button:hover {
  background-color: #607787;
  color: white;
}
.cart-footer h3 {
  padding-top: 2px;
}
.cart-title {
  border-bottom: 1px solid #ddd;
}
.Recruit-head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(209, 204, 204);
}
.Recruit-button {
  margin-right: 3px;
}
.recruit-modal {
  width: 60%;
  margin: 0 auto;
}
.recruit-modal_select {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
}
.recruit-input-title input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid black;
  outline: none;
  width: 690px;
  margin-bottom: 60px;
  font-size: 26px;
  font-weight: 600;
}
.recruit-modal_location {
  width: 450px;
}
.recruit-editor {
  width: 1035px;
}
.recruit-editor_content {
  height: 500px;
}
.recruit-modal-work {
  display: flex;
}
.recruit-modal-skill {
  width: 550px;
}
@media (min-width: 1537px) {
  .card-jd {
    width: 300px;
    height: 400px;
  }
  .cart-local {
    display: flex;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 60.5px;
  }
  .cart-footer button {
    margin-left: 70px;
    height: 21px;
    line-height: 17.5px;
  }
  .icons {
    padding-left: 39px;
  }
}
