.title-card {
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ant-progress-circle .ant-progress-text {
  font-size: 16px;
}
.title-card {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.recruit-card-icons {
  display: none;
  position: absolute;
  top: 2%;
  right: 3%;
  color: rgb(158, 156, 156);
}
.card-effect:hover .recruit-card-icons {
  display: block;
}

.function-header {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
