@import url('https://fonts.googleapis.com/css2?family=Anton&family=Press+Start+2P&family=Ultra&display=swap');

.logo > a > img {
  width: 44px;
  height: 41px;
  margin: 0 18px;
}
.logo {
  padding: 16px 0;
}
.logo > a {
  display: flex;
  width: 100%;
}
.logo > a > p {
  color: #cbb26b;
  font-family: 'Ultra', serif;
}
.siderbar-logo {
  padding-top: 5px;
}
