.main-info {
  height: 92vh;
}

.cl-bg {
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 5px #99b8bb;
  overflow: auto;
}

.profile-cadidate {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 7px 16px;
  border-bottom: 1px solid rgba(0, 112, 208, 0.25);
  background: linear-gradient(180deg, #fff 0, #e5f6ff 100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.btn-profile_left {
  width: 100%;
  display: block !important;
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.btn-profile_right {
  width: 100%;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}

.cadidate-name {
  text-align: center;
  padding: 20px 0;
}

.cadidate-name p {
  margin-bottom: 0;
}
.cadidate-name p:first-child {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Times New Roman', Times, serif;
}

.apply p {
  font-weight: 300;
  font-size: 12px;
}
.apply-btn {
  width: 100%;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;
  cursor: default;
  color: #2c5cc5;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.33333;
}
.status-info {
  text-align: center;
  padding: 20px 0;
}

.owner-btn {
  width: 100%;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  outline: 0;
  cursor: default;
  color: #9b59b6;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.33333;
  background-color: #f3ebf6;
}

.profile-contact-title {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  color: #607787;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  line-height: 1.33333;
}

.cm {
  font-size: 13px;
  color: #607787;
}

.ant-tabs-nav-wrap {
  background-color: #f5f7f9;
  border-color: transparent transparent #cfd7df;
  border-bottom: 1px solid #cfd7df;
  padding-left: 20px;
}
.ant-modal-footer {
  display: none;
}

.ant-modal {
  top: 50px;
}

.offer-info {
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: rgba(245, 247, 249, 0.3);
}

.content-feedBack {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  border: 1px solid #ddd;
  margin: 10px 0;
  padding: 10px 100px 10px 15px;
  border-radius: 4px;
  background-color: rgba(245, 247, 249, 0.3);
}

.lead-section-title {
  font-size: 16px;
  margin-bottom: 12px;
  color: #12344d;
  color: rgba(0, 0, 0, 0.85);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.5715;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-feedBack-row {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.content-feedBack-row:last-child {
  border-bottom: none;
}

.icon-des {
  position: absolute;
  top: 20px;
  right: 10px;
  font-size: 50px;
  color: #ddd;
}
