# should create .env file with following example

# node env
NODE_ENV=development

# token
SECRET=super-secrect-token

# mongo db
MONGO_DB_NAME=RMS
MONGO_URL=mongodb://minhtuan:12345678@localhost:27017
